body{
background-color:lightgreen;
}

h1{
color:red;
font-size:35;
}

table, th, td{
	text-align:center;
	color:red;
	padding:10px;
	border:3px solid green;
	border-collapse: collapse;
	font-size:18px;
}

p{
	color:red;
	font-size:18;
	margin-top:15px;
	font-weight:bold;
}

.t{
    background-color:yellow;
	border: 2px solid black;
    margin: 20px;
	margin-left:450px;
	margin-right:450px;
	padding-bottom:40px;
}

